/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/normalize.css";
@import "./assets/scss/variables.scss";

// reset //

$anim: .25s;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// main styles //

body {
    background: linear-gradient(to bottom, #ff854c 0%,#ff844d 25%,#ff7754 38%,#ff4570 75%,#ff4073 81%,#ff4073 100%);
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}