<header class="header">
	<div class="container">
		<div class="logo">
			<a href=""><img [src]="logo" ></a>
		</div>
		<ul class="top-navigation">
			<li>
				<a href="#">
					<img src="assets/images/icon-cog.png" alt="icon-cog">
					<ul class="dropdown-list">
						<li>
							<a href="#">Privacy</a>
						</li>
						<li>
							<a href="#">Account Settings</a>
						</li>
						<li>
							<a href="#">Profile</a>
						</li>
						<li>
							<a href="#">Support</a>
						</li>
					</ul>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="assets/images/icon-heart.png" alt="icon-heart">
				</a>
			</li>
		</ul>
	</div>
</header>
